body {
  background-image: url('./assets/To Do List.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 20%;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(255, 255, 255,0.4);
  padding: 20px;
  border-radius: 20px;
  border: solid 2px black;
}

h1 {
  text-align: center;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: 1px solid black;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background: darkgreen;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid;
}

li button { 
  background: red;
  padding: 5px;
  margin: 10px;
}

#addTaskButton {
  color: black;
}